{% extends '::layout.html.twig' %}
{% block contents %}
    <!--start nav-level-->
    <div class="nav-level">
        <div class="nav-level-layout wrapper">
            <div class="navigation">
                {{ knp_pagination_render(purchases) }}
            </div>
        </div>
    </div>
    <!--end nav-level-->

    <div class="yield"><!--start yield-->
        <div class="allBooks">
            <table class="Table-all">
                <thead>
                <tr>
                    <th class="thLeftBorderRadius">{{ knp_pagination_sortable(purchases, 'nr. Zam', 'z.idpurchase') }}</th>
                    <th>{{ knp_pagination_sortable(purchases, 'Data złożenia', 'z.purchasedate') }}</th>
                    <th>ilość prod.</th>
                    <th>kwota razem</th>
                    <th>{{ knp_pagination_sortable(purchases, 'status z.', 's.status') }}</th>
                    <th class="thRightBorderRadius">Szczególy</th>
                </tr>
                </thead>
                <tbody>
                {% for purchase in purchases %}
                    <tr>
                        <td>{{ purchase.idpurchase }}</td>
                        <td>{{ purchase.purchasedate|date('Y-m-d H:i:s') }}</td>
                        {% set quantity = 0 %}
                        {% set kwota = 0 %}
                        {% for purchaseProduct in purchase.PurchaseProducts %}
                            {% set quantity = quantity + purchaseProduct.quantity %}
                            {% set kwota = kwota + purchaseProduct.quantity * purchaseProduct.productprice %}
                        {% endfor %}
                        <td>{{ quantity }}</td>
                        <td>{{ kwota|number_format(2) }}</td>
                        <td>{{ purchase.idstatus.status }}</td>
                        <td>
                            <a href="{{ path('purchase_panel',{ 'purchaseid': purchase.idpurchase, 'userid': app.user.id }) }}">więcej</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div class="wrapper">
                <div class="navigation">
                    {{ knp_pagination_render(purchases) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


