{% extends '::layout.html.twig' %}

{% block navbar_IsTabActive %}            
            <div class="NavTabs"> 
                <a class="NavTab NavTab--home" href="{{ path('index') }}"><span class="NavTab-icon"></span><span class="NavTab-text">Home</span></a>
                <a class="NavTab NavTab--katalog " href="{{ path(('book')) }}"><span class="NavTab-icon"></span><span class="NavTab-text">Katalog</span></a>
                <a class="NavTab NavTab--kategorie active" href="{{ path('category') }}"><span class="NavTab-icon"></span><span class="NavTab-text">Kategorie</span></a>
                {% if app.user and is_granted('ROLE_ADMIN') %}
                <a class="NavTab NavTab--menu" href="{{ path('manager_menu') }}"><span class="NavTab-icon"></span><span class="NavTab-text">Menu</span></a>
                <a class="NavTab NavTab--zamowienia" href="{{ path('panel_sort_from_details') }}"><span class="NavTab-icon"></span><span class="NavTab-text">Zamówienia</span></a>
                {% endif %}
            </div> 
{% endblock navbar_IsTabActive %} 
{% block contents %}
    <!--start nav-level-->
    <div class="nav-level">
        <div class="nav-level-layout wrapper"></div>
    </div>
    <!--end nav-level--> 
    <!--end Nav-->
    <div class="yield">
        <div class="wrapper">
            <div class="product-detail-page">
                <h1 class="h1Content">Kategorie</h1>
                <ul class="columnUl">
                    {% for entity in entities %}
                        <li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('category_edit', { 'id': entity.idcategory }) }}">edit</a>
                            {% endif %}
                            <a href="{{ path('category_show', { 'id': entity.idcategory }) }}">{{ entity.name }}</a></td>
                        </li>
                    {% endfor %}
                </ul>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="ButtonCreate"> <a class="OrangeButton" href="{{ path('category_new') }}">Dodaj Nową Kategorię</a>
                    {% endif %}    
                </div>
            </div>
        </div>
{% endblock %}


