<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8" />
  <style>
   #blog-posts {
    width: 700px;
   }
   .blog-post {
    border: 1px solid black;
    margin: 10px 10px 20px 10px;
    padding: 6px 10px;
   }

   button.favorite-button {
    background: #0000FF;
    color: white;
    text-align: center;
    width: 70px;
   }
   button.favorite-button:hover {
    background: #000099;
   }
   .Favorite {
    background: red;
    color: white;
   }
  </style>
  <script src="{{ asset('bundles/trenning/js/jquery-3.1.1.js') }}"></script>
  <script src="{{ asset('bundles/trenning/js/index.js') }}"></script>



</head>
<body>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% set fav = app.session.get('fav') %}
 <div id="blog-posts">
  <div id="p101" class="blog-post {{ fav.p101 }}">
   <h3>1Blog Post 101</h3>
   <p>Lordem ipsum dolor sit amet, consectetur adipiscing elit. Sed scelerisque nunc malesuada mauris fermentum commodo. Integer non pellentesque augue, vitae pellentesque tortor. Ut gravida ullamcorper dolor, ac fringilla mauris interdum id. Nulla porta egestas nisi, et eleifend nisl tincidunt suscipit. Suspendisse massa ex, fringilla quis orci a, rhoncus porta nulla. Aliquam diam velit, bibendum sit amet suscipit eget, mollis in purus. Sed mattis ultricies scelerisque. Integer ligula magna, feugiat non purus eget, pharetra volutpat orci. Duis gravida neque erat, nec venenatis dui dictum vel. Maecenas molestie tortor nec justo porttitor, in sagittis libero consequat. Maecenas finibus porttitor nisl vitae tincidunt.</p>
   <button class="favorite-button">{{ fav.p101 }}</button>
  </div>
  <div id="p102" class="blog-post {{ fav.p102 }}">
   <h3>Blog Post 102</h3>
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed scelerisque nunc malesuada mauris fermentum commodo. Integer non pellentesque augue, vitae pellentesque tortor. Ut gravida ullamcorper dolor, ac fringilla mauris interdum id. Nulla porta egestas nisi, et eleifend nisl tincidunt suscipit. Suspendisse massa ex, fringilla quis orci a, rhoncus porta nulla. Aliquam diam velit, bibendum sit amet suscipit eget, mollis in purus. Sed mattis ultricies scelerisque. Integer ligula magna, feugiat non purus eget, pharetra volutpat orci. Duis gravida neque erat, nec venenatis dui dictum vel. Maecenas molestie tortor nec justo porttitor, in sagittis libero consequat. Maecenas finibus porttitor nisl vitae tincidunt.</p>
   <button class="favorite-button">{{ fav.p102 }}</button>
  </div>
  <div id="p103" class="blog-post {{ fav.p103 }}">
   <h3>Blog Post 103</h3>
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed scelerisque nunc malesuada mauris fermentum commodo. Integer non pellentesque augue, vitae pellentesque tortor. Ut gravida ullamcorper dolor, ac fringilla mauris interdum id. Nulla porta egestas nisi, et eleifend nisl tincidunt suscipit. Suspendisse massa ex, fringilla quis orci a, rhoncus porta nulla. Aliquam diam velit, bibendum sit amet suscipit eget, mollis in purus. Sed mattis ultricies scelerisque. Integer ligula magna, feugiat non purus eget, pharetra volutpat orci. Duis gravida neque erat, nec venenatis dui dictum vel. Maecenas molestie tortor nec justo porttitor, in sagittis libero consequat. Maecenas finibus porttitor nisl vitae tincidunt.</p>
   <button class="favorite-button">{{ fav.p103 }}</button>
  </div>
 </div>

 <script>


  $(".favorite-button").click(function(event){
   $(event.target).parent().toggleClass("Favorite");
   $(this).text( $(this).text() == 'Favorite' ? 'Unfavorite' : 'Favorite' );
   var id = $(this).parent("div").attr('id'); //p101, p102, ...

   var data = {};
   data[id] = $(this).text() ; // data[] = p101=>Unfavorite
 console.log(id);
 console.log(data);
   var path = Routing.generate('c4');
   $.ajax({
    url: path,
    type: "POST",
    data: {data:data}
   });
  });
 </script>

</body>
</html>






















