{% extends '::layout.html.twig' %}

{#{% block navbar_IsTabActive %}            
    <div class="NavTabs"> <a class="NavTab NavTab--home" href="{{ path('index') }}"><span class="NavTab-icon"></span><span class="NavTab-text">Home</span></a> <a class="NavTab NavTab--katalog" href="{{ path(('book')) }}"><span class="NavTab-icon"></span><span class="NavTab-text">Katalog</span></a> <a class="NavTab NavTab--kategorie" href="{{ path('category') }}"><span class="NavTab-icon"></span><span class="NavTab-text">Kategorie</span></a> </div>
{% endblock navbar_IsTabActive %}  #}

{% block contents %}
    <div class="boxMy szerokie">
        <div id="boxMyinside">
            {% if is_granted('ROLE_ADMIN') %}
                <h3> Zamówienie nr:
                    <larger><strong>{{ order.idorder }}</strong></larger>
                    ,<br/> złożone: {{ order.orderdate|date('Y-m-d H:i:s') }} <br/>
                    przez klienta nr <a id="OrangeButton"
                                        href="{{ path('panel_sort_from_details',{ 'findBy':'idklient', 'Identifier':order.idklient.idklient}) }}">{{ order.idklient.idklient }}</a>
                </h3>
            {% else %}
                <h3> Zamówienie nr: <strong>{{ order.idorder }}</strong>,<br/>
                    złożone: {{ order.orderdate|date('Y-m-d H:i:s') }}
                    <br/>przez {{ app.user.username }}
                </h3>
            {% endif %}
            <div class="boxDown">
                <h4 class="greyHeader">Dane do wysyłki:</h4>
                <ul>
                    <li>{{ order.idklient.imie }} {{ order.idklient.nazwisko }}</li>
                    <li>{{ order.idklient.ulica }} {{ order.idklient.nrDomu }} {{ order.idklient.nrmieszkania }}</li>
                    <li>{{ order.idklient.kodpocztowy }}, {{ order.idklient.miasto }} </li>
                </ul>

                <h4 class="greyHeader">Produkty:</h4>
                {% set quantity = 0 %}
                {% set kwota = 0 %}
                {% for product in products %}
                    <ul>
                        <li><span class="greyLeft">ISBN: </span><span
                                    class="potwierdzenieRight">{{ product.isbn.isbn }}</span></li>
                        <li><span class="greyLeft">tytuł: </span><span
                                    class="potwierdzenieRight">{{ product.title }}</span></li>
                        <li><span class="greyLeft">autor: </span><span
                                    class="potwierdzenieRight">{{ product.author }}</span></li>
                        <li><span class="greyLeft">cena: </span><span
                                    class="potwierdzenieRight">{{ product.cenaProduktu }}</span></li>
                        <li><span class="greyLeft">ilość: </span><span
                                    class="potwierdzenieRight">{{ product.quantity }}</span></li>
                    </ul>
                    {% set quantity = quantity + product.quantity %}
                    {% set kwota = kwota + product.quantity * product.cenaproduktu %}

                {% endfor %}
                <h4 class="greyHeader">Kwota</h4>
                <ul> {{ kwota|number_format(2) }}</ul>
                <h4 class="greyHeader"> Razem Produktów</h4>
                <ul>{{ quantity }}</ul>
                <h4 class="greyHeader">Status zamówienia</h4>
                {% if is_granted('ROLE_ADMIN') %}
                    {{ form(statusForm) }}
                {% else %}
                    <ul>{{ order.idstatus.status }}</ul>
                    {% if order.idstatus.idstatus == 1 %}
                        <h4 class="greyHeader">Zapłać teraz</h4>
                        <fieldset class="potwierdzenie">
                            <a class="OrangeButtonSimple" href="#">PayU</a>
                            <a class="OrangeButtonSimple" style="float: right" href="#">PayPal</a>
                        </fieldset>
                    {% endif %}
                {% endif %}

            </div>
        </div>
    </div>
{% endblock contents %}


{# <pre>{{ dump(zam) }}</pre> #}

