{% extends '::layout.html.twig' %}

{% block navbar_IsTabActive %}            
            <div class="NavTabs"> 
                <a class="NavTab NavTab--home" href="{{ path('index') }}"><span class="NavTab-icon"></span><span class="NavTab-text">Home</span></a>
                <a class="NavTab NavTab--katalog " href="{{ path('ksiazka') }}"><span class="NavTab-icon"></span><span class="NavTab-text">Katalog</span></a> 
                <a class="NavTab NavTab--kategorie active" href="{{ path('kategoria') }}"><span class="NavTab-icon"></span><span class="NavTab-text">Kategorie</span></a> 
                {% if app.user and is_granted('ROLE_ADMIN') %}
                <a class="NavTab NavTab--menu" href="{{ path('menuZarzadca') }}"><span class="NavTab-icon"></span><span class="NavTab-text">Menu</span></a> 
                <a class="NavTab NavTab--zamowienia" href="{{ path('panelSortFromDetails') }}"><span class="NavTab-icon"></span><span class="NavTab-text">Zamówienia</span></a> 
                {% endif %}
            </div> 
{% endblock navbar_IsTabActive %} 
{% block contents %}
    <div class="boxMy szerokie">
        <div id="boxMyinside">
            <h3>edycja kategorii</h3>
            <fieldset>             
                {{ form(edit_form) }}
                <a class="OrangeButtonSimple" href="{{ path('kategoria') }}"> Wróć do Listy</a>
                {{ form(delete_form) }}
            </fieldset>
        </div>
    </div>
{% endblock %}
