{% extends '::layout.html.twig' %}

{% block navbar_IsTabActive %}           
            <div class="NavTabs"> 
                <a class="NavTab NavTab--home" href="{{ path('index') }}"><span class="NavTab-icon"></span><span class="NavTab-text">Home</span></a>
                <a class="NavTab NavTab--katalog" href="{{ path('ksiazka') }}"><span class="NavTab-icon"></span><span class="NavTab-text">Katalog</span></a> 
                <a class="NavTab NavTab--kategorie active" href="{{ path('kategoria') }}"><span class="NavTab-icon"></span><span class="NavTab-text">Kategorie</span></a> 
                {% if app.user and is_granted('ROLE_ADMIN') %}
                <a class="NavTab NavTab--menu" href="{{ path('menuZarzadca') }}"><span class="NavTab-icon"></span><span class="NavTab-text">Menu</span></a> 
                <a class="NavTab NavTab--zamowienia" href="{{ path('panelSortFromDetails') }}"><span class="NavTab-icon"></span><span class="NavTab-text">Zamówienia</span></a> 
                {% endif %}
            </div> 
{% endblock navbar_IsTabActive %} 

{% block contents %}
<!--start nav-level-->
<div class="nav-level">
  <div class="nav-level-layout wrapper">
    <div class="PageTabs page-section-tab active">Kategoria: {{ kategoria.nazwa }}</div>
  </div>
</div>
<!--end nav-level--> 
<div class="yield "><!--start yield-->
  <!--<div class="wrapper">--><!--start wrapper-->
<div class="allBooks"> 
            <table class="Table-all">
                <thead>
                    <tr>
                        <th class="thLeftBorderRadius">Tytuł</th>
                        <th>Autor</th>
                        <th>Cena</th>
                        <th>Wydawnictwo</th>
                        <th>Rok Wydania</th>
                        <th>Do Koszyka</th>
                            {% if is_granted('ROLE_ADMIN') %}
                            <th>Szczególy</th>
                            <th class="thRightBorderRadius">Edytuj</th>
                            {% else %}
                            <th class="thRightBorderRadius">Szczególy</th>
                            {% endif %}
                    </tr>
                </thead>            
                <tbody>
                    {% for kategoria in ksiazki %}
                        <tr>
                            <td><a href="{{ path('ksiazka_show', { 'id': kategoria.isbn }) }}">{{ kategoria.tytul }}</a></td>
                            <td><a href="{{ path('showBooksBy', { 'findby': 'autor','what': kategoria.autor }) }}">{{ kategoria.autor }}</a></td>
                            <td>{{ kategoria.cena }}</td>
                            <td><a href="{{ path('showBooksBy', { 'findby': 'wydawnictwo','what': kategoria.wydawnictwo }) }}">{{ kategoria.wydawnictwo }}</a></td>
                            <td><a href="{{ path('showBooksBy', { 'findby': 'rokwydania','what': kategoria.rokwydania }) }}">{{ kategoria.rokwydania }}</a></td>
                            <td><a href="{{ path('addtocart', {'isbn': kategoria.isbn }) }}">do koszyka</a></td>
                            <td><a href="{{ path('ksiazka_show', { 'id': kategoria.isbn }) }}">więcej</a></td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td><a href="{{ path('ksiazka_edit', { 'id': kategoria.isbn }) }}">edytuj</a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}       
            </table>   
            <div id="margin_top_buttons">
<div class="centeredButton kategoria"><a class="OrangeButton" href="{{ path('kategoria') }}">Wróć do Listy</a></div>
{% if is_granted('ROLE_ADMIN') %}
    <div class="centeredButton kategoria"><a class="OrangeButton" href="{{ path('kategoria_edit', { 'id': kategoria.idkategoria }) }}">Edytuj Kategorię</a></div> 
{% endif %}
            </div>
</div>  
</div>
{% endblock %}