{% extends '::layout.html.twig' %}
{% block contents %}
    <!--start nav-level-->
    <div class="nav-level">
        <div class="nav-level-layout wrapper">
            <div class="navigation">
                {{ knp_pagination_render(zamowienia) }}
            </div>
        </div>
    </div>
    <!--end nav-level-->

    <div class="yield"><!--start yield-->
        <div class="allBooks">
            <table class="Table-all">
                <thead>
                <tr>
                    <th class="thLeftBorderRadius">{{ knp_pagination_sortable(zamowienia, 'nr. Zam', 'z.idzamowienie') }}</th>
                    <th>{{ knp_pagination_sortable(zamowienia, 'Data złożenia', 'z.datazlozenia') }}</th>
                    <th>ilość prod.</th>
                    <th>kwota razem</th>
                    <th>{{ knp_pagination_sortable(zamowienia, 'status z.', 's.status') }}</th>
                    <th class="thRightBorderRadius">Szczególy</th>
                </tr>
                </thead>
                <tbody>
                {% for zamowienie in zamowienia %}
                    <tr>
                        <td>{{ zamowienie.idzamowienie }}</td>
                        <td>{{ zamowienie.datazlozenia|date('Y-m-d H:i:s') }}</td>
                        {% set ilosc = 0 %}
                        {% set kwota = 0 %}
                        {% for zamowienieProdukt in zamowienie.ZamowienieProdukty %}
                            {% set ilosc = ilosc + zamowienieProdukt.ilosc %}
                            {% set kwota = kwota + zamowienieProdukt.ilosc * zamowienieProdukt.cenaproduktu %}
                        {% endfor %}
                        <td>{{ ilosc }}</td>
                        <td>{{ kwota|number_format(2) }}</td>
                        <td>{{ zamowienie.idstatus.status }}</td>
                        <td>
                            <a href="{{ path('panelDetails',{ 'idzamowienie': zamowienie.idzamowienie, 'userid': app.user.id }) }}">więcej</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div class="wrapper">
                <div class="navigation">
                    {{ knp_pagination_render(zamowienia) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


