{#{% set dupa %}<Span Style="font-Weight: Bold;">dupa</span> {% endset %}#}
{% set text %}twoje gówno{% endset %}
{#{% set kupa %}Twoje Gówno{% endset %}#}
{% set word = 'twoje' %}

{#{% set foo %}#}
{#    {{ kupa|lower|replace({(word): '<span style="font-weight: bold;">'~word~'</span>'})|raw }}#}
{#{% endset %}#}

{#{% set foo %}{% autoescape false %}{{ entity.autor|lower|replace({(word): '<span style="font-weight: bold;">'~word~'</span>'})|title|raw }}{% endautoescape %}{% endset %}#}


{#{{ foo|title|raw }}#}

{#{{ foo }}#}



{{ text|highlight(text,word)|raw }}
{#{{ kupa|lower|replace({(word): '<span style="font-weight: bold;">'~word~'</span>'})|title|raw }}#}
{#{{ kupa|lower|replace({(word): '<span style="font-weight: bold;">'~word~'</span>'})|raw }}#}
{#{{ kupa|lower|replace({(word): 'moje' }) }}#}


{#{{ kupa|title|raw }}#}