{% extends '::layout.html.twig' %}

{% block navbar_IsTabActive %}
    <div class="NavTabs">
        <a class="NavTab NavTab--home" href="{{ path('index') }}"><span class="NavTab-icon"></span><span class="NavTab-text">Home</span></a>
        <a class="NavTab NavTab--katalog" href="{{ path('ksiazka') }}"><span class="NavTab-icon"></span><span class="NavTab-text">Katalog</span></a>
        <a class="NavTab NavTab--kategorie" href="{{ path('kategoria') }}"><span class="NavTab-icon"></span><span class="NavTab-text">Kategorie</span></a>
        {% if app.user and is_granted('ROLE_ADMIN') %}
            <a class="NavTab NavTab--menu" href="{{ path('menuZarzadca') }}"><span class="NavTab-icon"></span><span class="NavTab-text">Menu</span></a>
            <a class="NavTab NavTab--zamowienia active" href="{{ path('panelSortFromDetails') }}"><span class="NavTab-icon"></span><span class="NavTab-text">Zamówienia</span></a>
        {% endif %}
    </div>
{% endblock navbar_IsTabActive %}
{% block contents %}
    <div class="yield"><!--start yield-->
        <div class="nav-level-layout wrapper">
            <div id="justify_content_outer">
                <div class="s">
                    {{ form(StatusForm) }}
                </div>
                <div class="d">
                    {{ form(DataZamForm) }}
                </div>
                <div class="k">
                    {{ form(NrKlientaForm) }}
                </div>
            </div>
            {% if filterField == 'idklient' and identifier is not empty %}
                <div class="nav-level">
                    <div class="nav-level-layout wrapper">
                        Wszystkie zamówienia klienta nr {{ identifier}}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="allBooks">
            <table class="Table-all">
                <thead>
                <tr>
                    <th style="background-color: #3e3e3e" class="thLeftBorderRadius"><a href="{{ path('panelSort',{ 'columnsSortOrder':columnsSortOrder.Numer ,'query':query,'filterField':filterField,'columnSort':'idzamowienie'}) }}">nr z.<span class="{{ columnsSortOrder.Numer }}"></span></a></th>
                    <th><a href="{{ path('panelSort',{ 'columnsSortOrder':columnsSortOrder.Data ,'query':query,'filterField':filterField,'columnSort':'datazlozenia'}) }}">Data złożenia<span class="{{ columnsSortOrder.Data }}"></span></a></th>
                    <th>ilość prod.</th>
                    <th>kwota razem</th>
                    <th><a href="{{ path('panelSort',{ 'columnsSortOrder':columnsSortOrder.Klient ,'query':query,'filterField':filterField, 'columnSort':'idklient'}) }}">nr klienta<span class="{{ columnsSortOrder.Klient }}"></span></a></th>
                    <th><a href="{{ path('panelSort',{ 'columnsSortOrder':columnsSortOrder.Status ,'query':query, 'filterField':filterField,'columnSort':'idstatus'}) }}">status z.<span class="{{ columnsSortOrder.Status }}"></span></a></th>
                    <th class="thRightBorderRadius">Szczególy</th>
                </tr>
                </thead>
                <tbody>
                {{ form_start(form) }}
                {% for formul in form.zamowienia %}
                    <tr>
                        <td>{{ formul.vars.value.idzamowienie }}</td>
                        <td>{{ formul.vars.value.datazlozenia|date('Y-m-d H:i:s') }}</td>
                        {% set ilosc = 0 %}
                        {% set kwota = 0 %}
                        {% for zamowienieProdukt in zamowieniaProdukty %}
                            {% if zamowienieProdukt.idzamowienie.idzamowienie ==  formul.vars.value.idzamowienie %}
                                {% set ilosc = ilosc + zamowienieProdukt.ilosc %}
                                {% set kwota = kwota + zamowienieProdukt.ilosc * zamowienieProdukt.cenaproduktu %}
                            {% endif %}
                        {% endfor %}
                        <td>{{ ilosc }}</td>
                        <td>{{ kwota|number_format(2) }}</td>
                        <td>{{ formul.vars.value.idklient.idklient }}</td>
                        <td>
                            {{ form_row(formul.idstatus) }}
                        </td>
                        <td><a href="{{ path('ZarzadcaPanelDetails',{ 'idzamowienie':formul.vars.value.idzamowienie }) }}">więcej</a></td>
                    </tr>
                {% endfor %}
            </table>
            <div class="ButtonCenter">
                {{ form_widget(form.zapisz) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
