{% extends '::layout.html.twig' %}
{% block contents %}
    <div class="boxMy">
        <div id="boxMyinside">
          <h3>Wybierz sposób autoryzacji</h3>
          <div class="AutoryzajcaFlex">
{#               <a class="OrangeButton" href="{{ path('fos_user_security_login',{ 'proces_zamowienia': '1' }) }}">zaloguj</a>
               <a class="OrangeButton" href="{{ path('fos_user_registration_register') }}">zarejestruj</a> 
               <a class="OrangeButton" href="{{ path('zamawiam') }}">kup bez rejestracji</a> #}

               <a class="OrangeButton" href="{{ path('przejsciowka',{ 'autoryzacja': 'zaloguj' }) }}">zaloguj</a>
{#               <a class="OrangeButton" href="{{ path('fos_user_registration_register',{ 'proces_zamowienia': '1' }) }}">zarejestruj</a> #}
               <a class="OrangeButton" href="{{ path('przejsciowka',{ 'autoryzacja': 'zarejestruj' }) }}">zarejestruj</a> 
               <a class="OrangeButton" href="{{ path('zamawiam') }}">kup bez rejestracji</a> 
          </div>
        </div>
    </div>
{% endblock contents %}
