<!DOCTYPE html>
<html>
    <body>
        <p>Złożono nowe zamówienie o godzinie: {{ purchase.purchasedate|date('Y-m-d H:i:s') }} <br>
        na kwotę: {{ suma|number_format(2) }} zł <br>
        przez {{ purchase.idclient.name }} {{ purchase.idclient.surname }}. <br>
        Id zamówienia to: {{ purchase.idpurchase }} . <br>
        Idź do <a href="{{ path('panel_sort') }}">panelu zamówień</a></p>
    </body>
</html>