{% extends '::layout.html.twig' %}

{% block contents %}
    <div class="boxMy szerokie">
        <div id="boxMyinside">
            <h3>Dane do wysyłki:</h3>
            <div class="boxDown">
                <ul>
                    <li>{{ zamowienie.idklient.imie }} {{ zamowienie.idklient.nazwisko }}</li>
                    <li>{{ zamowienie.idklient.ulica }} {{ zamowienie.idklient.nrDomu }} {{ zamowienie.idklient.nrmieszkania }}</li>
                    <li>{{ zamowienie.idklient.kodpocztowy }}, {{ zamowienie.idklient.miasto }} </li>
                    <li>{{ zamowienie.idklient.email }} </li>
                    <li>Tel.: {{ zamowienie.idklient.nrtelefonu }} </li>
                </ul>
            </div>
        </div>
        <div id="boxMyinside">
            <h3>zamówione produkty:</h3>
            <div class="boxDown">
                {% for produkt in produkty  %}
                    <ul>
                        <li><span class="greyLeft">tytuł: </span><span class="potwierdzenieRight">{{ produkt.tytul }}</span></li>
                        <li><span class="greyLeft">autor: </span><span class="potwierdzenieRight">{{ produkt.autor }}</span></li>
                        <li><span class="greyLeft">cena: </span><span class="potwierdzenieRight">{{ produkt.cenaProduktu }}</span></li>
                        <li><span class="greyLeft">ilość: </span><span class="potwierdzenieRight">{{ produkt.ilosc }}</span></li>
                    </ul>
                {% endfor %}
            </div>
        </div>
        <div id="boxMyinside">
            <h3>Do zapłaty:</h3>
            <div class="boxDown">
                <p>{{ suma|number_format(2) }} ( dostawa za darmo )</p>
            </div>
        </div>
        <div id="boxMyinside">
            <h3>Wpłacić na rachunek:</h3>
            <div class="boxDown">
                <ul>
                    <li>Paweł Szaweł</li>
                    <li>Księgarnia Szobuk</li>
                    <li>Bank Zachodni Lubin</li>
                    <li>123-123-123-123-123-0</li>
                </ul>
            </div>

        </div>
        <div id="boxMyinside">
            <div class="boxDown">
                <p>Na adres mailowy {{ zamowienie.idklient.email }} przesłano wiadomość ze szczegółami zamówienia.
                </p>
            </div>
        </div>
        <div id="boxMyinside">
            <h3>zapłać teraz</h3>
            <fieldset class="potwierdzenie">
                <a class="OrangeButtonSimple" href="#">PayU</a>
                <a class="OrangeButtonSimple" style="float: right" href="#">PayPal</a>
            </fieldset>
        </div>

    </div>                
</div>
{% endblock contents %}

